.DietPlanCards {
    margin-bottom: 0.5rem;
    background-color: var(--background-primary);
    color: var(--foreground-primary);
}

.dropdown-custom {
    font-size: var(--fs4);
    position: relative;
    font-family: Arial, sans-serif;
}

.dropdown-button-custom {
    outline: none;
    transition: background-color 0.3s;
}

.dropdown-button-custom:hover {
    background-color: var(--background-primary);
}

.dropdown-content-custom {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 1rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    max-height: 300px;
    overflow-y: auto;
    width: 90%;
}

.dropdown-content-custom label {
    display: block;
    margin-bottom: 0.5rem;
}

.dropdown-content-custom label input[type="checkbox"] {
    margin-right: 1rem;
}

.dropdown-custom:hover .dropdown-content-custom {
    display: block;
}

#selected-items {
    list-style: none;
    font-size: var(--fs4);
    border-radius: 5px;
}

.dropdown-custom.required-error {
    border-color: red;
}

.feedError
{
    margin: 2rem 0;
    font-size: var(--fs5);
    color: red;
}