.logoText {
    display: inline-flex;
    align-items: center;
    font-size: var(--fs3);
    color: var(--foreground-primary);
}

a {
    color: var(--foreground-primary);
}

.menu {
    font-size: var(--fs4);
    background-color: var(--accent);
}

.logoText a{
    color: var(--foreground-primary) !important;
}

.logoText img {
    margin-right: 0.5rem;
}

.logoText span {
    margin-left: 1rem;
    color: var(--foreground-primary);
}

body {
    background-color: var(--background-secondary);
}

/* Modify the background color */
.navbar-custom {
    background-color: var(--background-primary);
}

/* Modify brand and text color */
.nav-link {
    margin: 0 1rem 0 0;
    color: var(--foreground-primary) !important;
}

.navbar-toggler span {
    color: white !important;
}

.mode {

    font-size: var(--fs5) !important;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--accent);
    color: white;
    width: fit-content;
}

.mode span {
    align-items: center;
    margin-right: 0.5rem;
    justify-content: center;
    display: flex;

}

nav {
    padding: 1 2rem 0 4rem !important;
    /* border:2px solid red; */
}

.navbar-collapse {
    flex-grow: 0 !important;
}

.navbar-collapse>ul {
    align-items: baseline !important;
}

.container-fluid {
    justify-content: space-evenly !important;
}

.nav-cont {
    /* border: 2px solid red; */
    width: clamp(300px, 70%, 1000px);
    margin: auto;
    display: flex !important;
    justify-content: space-between !important;
}

.dropdown-menu .profilePic img {
    width: clamp(50px, 15%, 120px);
    height: clamp(50px, 15%, 120px);
    border-radius: 50%;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
}

.profilePic {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    margin: 0rem 0 1rem 0;
    border-bottom: 2px solid var(--foreground-tertiary);

}

.profilePic:hover {
    cursor: inherit;
    background: var(--background-primary) !important;
}

.profilePic h2 {
    font-size: var(--fs4);
    color: var(--foreground-primary) !important;
}

.profilePic span {
    font-size: var(--fs5);
    color: var(--foreground-primary) !important;
}

.dropdown-menu {
    background-color: var(--background-primary);
    color: var(--foreground-primary) !important;

}

.dropdown-menu a {
    background-color: var(--background-primary);
    color: var(--foreground-primary) !important;

}

.dropdown-menu a:hover {
    background-color: var(--background-secondary);
    color: var(--foreground-primary) !important;

}

#navbarNavDropdown
{
    margin-left: 1rem;
}